@import 'tailwindcss';

@font-face {
  font-family: 'regular';
  font-weight: 400;
  src: url('../../public/fonts/regular.otf') format('opentype');
}

@font-face {
  font-family: 'bold';
  font-weight: 700;
  src: url('../../public/fonts/bold.otf') format('opentype');
}

@font-face {
  font-family: 'thin';
  font-weight: 100;
  src: url('../../public/fonts/thin.otf') format('opentype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: 'regular', sans-serif;
}

@layer base {
  body {
    @apply m-0;
    @apply p-0;
    @apply box-border;
    @apply flex;
    @apply min-h-screen;
  }

  html {
    @apply min-h-screen;
    @apply leading-normal;
    @apply scroll-smooth;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}

@theme {
  --color-cyan-500: oklch(0.75 0.14 200); /* Vibrant Cyan */
  --color-magenta-500: oklch(0.75 0.18 320); /* Rich Magenta */
  --color-lime-500: oklch(0.75 0.16 130); /* Neon Lime */
  --color-orange-500: oklch(0.75 0.2 40); /* Warm Orange */
  --color-purple-500: oklch(0.75 0.16 280); /* Electric Purple */
  --color-blue-500: oklch(0.75 0.15 230); /* Deep Blue */
  --color-dark-500: oklch(0.15 0.02 0); /* Almost Black */
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .btn-submit {
    @apply hover:bg-blue-400 hover:cursor-pointer transition-all hover:scale-105 font-bold bg-blue-500 text-white w-fit self-end py-1 px-3 mt-3 rounded-md;
  }

  .btn-auth {
    @apply w-fit text-lg mt-3 px-3 py-1 rounded-md hover:cursor-pointer hover:scale-105 transition-all hover:underline;
  }

  .input-auth {
    @apply mt-1 w-full px-4 mb-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none transition duration-300 ease-in-out;
  }
}
